<section class="container">
    <div class="container-grid">      

        <div class="container-grid-col">
            <i class="fa-brands fa-facebook"></i>
            <p class="taller">TALLER</p>
        </div>

        <div class="container-grid-col">
            <i class="fa-brands fa-facebook"></i>
            <p class="taller">TALLER</p>
        </div>

        <div class="container-grid-col">
            <i class="fa-brands fa-facebook"></i>
            <p class="taller">TALLER</p>
        </div>

        <div class="container-grid-col">
            <i class="fa-brands fa-facebook"></i>
            <p class="taller">TALLER</p>
        </div>

        <div class="container-grid-col">
            <i class="fa-brands fa-facebook"></i>
            <p class="taller">TALLER</p>
        </div>
            
    </div>
</section>


<section class="main">
    <article class="card">
        <p class="title">TITULO</p>
        <img src="assets/img/informatica.jpg" alt="">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis culpa, animi amet minima, placeat facilis delectus, facere perspiciatis deleniti expedita consectetur. Eos repudiandae optio, quidem neque non nihil ipsa accusamus?</p>
    </article>

    <article class="card">
        <p class="title">TITULO</p>
        <img src="assets/img/informatica.jpg" alt="">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis culpa, animi amet minima, placeat facilis delectus, facere perspiciatis deleniti expedita consectetur. Eos repudiandae optio, quidem neque non nihil ipsa accusamus?</p>
    </article>

    <article class="card">
        <p class="title">TITULO</p>
        <img src="assets/img/informatica.jpg" alt="">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis culpa, animi amet minima, placeat facilis delectus, facere perspiciatis deleniti expedita consectetur. Eos repudiandae optio, quidem neque non nihil ipsa accusamus?</p>
    </article>

    <article class="card">
        <p class="title">TITULO</p>
        <img src="assets/img/informatica.jpg" alt="">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis culpa, animi amet minima, placeat facilis delectus, facere perspiciatis deleniti expedita consectetur. Eos repudiandae optio, quidem neque non nihil ipsa accusamus?</p>
    </article>

    <article class="card">
        <p class="title">TITULO</p>
        <img src="assets/img/informatica.jpg" alt="">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis culpa, animi amet minima, placeat facilis delectus, facere perspiciatis deleniti expedita consectetur. Eos repudiandae optio, quidem neque non nihil ipsa accusamus?</p>
    </article>
</section>