<footer class="footer">
    <div class="container__footer">        

        <div class="education col-xy-flexbox-center">
            <a href="http://app.educacionbc.edu.mx/consultacalif/" target="_blank">CONSULTA DE CALIFICACIONES</a>
            <a href="http://app.educacionbc.edu.mx/consultacalif/" target="_blank">INSCRIPCIONES PREPARATORIA</a>
            <a href="http://app.educacionbc.edu.mx/consultacalif/" target="_blank">RUMBO A LA PREPARATORIA</a>
            <a href="http://app.educacionbc.edu.mx/consultacalif/" target="_blank">RUMBO A LA PREPARATORIA</a>
            
        </div>

        <div class="links">
            <a href="https://www.gob.mx/sep" target="_blank"><img src="assets/img/sep.png" alt="secretaria de educacion publica"></a>
            <a href="https://www.educacionbc.edu.mx/index.php/inicio/" target="_blank"><img src="assets/img/logobc1.gif" alt="Educacion BC"></a>
            <a href="https://www.educacionbc.edu.mx/index.php/servicios-en-linea/" target="_blank"><img src="assets/img/see.jpg" alt="sistema educativo estatal"></a>
        </div>

        <div class="social__networks">
            <a href="https://facebook.com" target=”_blank><i class="fa-brands fa-facebook"></i></a>
            <a href="tel:664 625 3203"><i class="fa-solid fa-phone"></i></a>
            <a href="https://youtube.com" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        </div>
        
    </div>
</footer>
